input, select{
	width: calc(100% - 20px);
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px 8px;
	font-size: 15px;
}
select{
	width: 70px;
}
.main_block_profile{
	margin-top: 20px;
	width: 100%;
	display: flex;
}
.main_block_tariff{
    margin-top: 20px;
}
.block{
	width: 280px;
    padding: 0;
    float: left;
}
.block:not(.block_4){
    margin-right: 20px;
}
.block_header p{
	font-size: 25px;
	margin: 25px 20px;
}
.block_info{
	background-color: rgb(255, 223, 223);;
	padding: 13px 20px;
    height: 100px;
}
.block_info p{
	font-size: 14px;
	font-weight: 400;
}
.line{
	margin: 10px 0;
}
.line_buttons{
	margin-top: 20px;
}
.title{
	font-weight: 700;
}
.content{
	font-weight: 400;
}
.flex{
	display: flex;
}
.block_money{
	margin: 20px 0;
}

/*выпадашка начало*/

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-dropdown {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 5px 15px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
.wrapper-dropdown:focus {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown:focus:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.money_body img{
	max-width: 30px;
	max-height: 30px;
}
.money_name{
	margin-left: 10px;
}
.money_name p{
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}

/*выпадашка конец*/

.block_submit{
    text-align: center;
}
.block_submit{
    margin: 10px;
}
.activeButton{
    background-color: #888;
}