.block_cord{
	width: 67px;
	height: 38px;
	margin-left: 120px;
	position: relative;
	top: -2px;
}
.cord_1{
	margin-top: -8px;
}
.cord_2{
	margin-left: 7px;
    margin-top: -13px;
}
.cord_3{
	margin-right: 1px;
    margin-top: -11px;
    float: right;
}