footer{
	margin-top: 30px;
	height: 60px;
	background-color: #ffffff;
	border-top: 2px solid #000000;
	color: #222222;
	letter-spacing: 0px;
	font-size: 14px;
	min-width: 100%;
	width: max-content;
}
.footer_block{
	width: 1190px;
	min-width: 1190px;
	height: 100%;
	margin: 0 auto;
}
.footer_logo{
	float: left;
	width: 200px;
	height: 100%;
	height: 100%;
}
footer .logo_icon{
	margin-top: 10px;
	height: 40px;
	width: 50px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
footer .logo_icon img{
	max-height: 100%;
}
footer .logo_name{
	float: left;
	height: 100%;
	margin-left: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
}
footer .logo_name span{
	cursor: pointer;
}
.footer_main{
	float: right;
	width: 900px;
	height: 100%;
	display: flex;
	font-size: 0.9em;
	justify-content: space-around;
}
.footer_main p{
	display: flex;
	align-items: center;
}