header{
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	box-shadow: 0 0 3px 0px #cccccc;
	color: #222222;
	letter-spacing: 0px;
	z-index: 100;
	font-size: 14px;
	font-weight: 700;
}
.header_block{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
}
.header_logo{
	float: left;
	width: 200px;
	height: 100%;
	height: 50px;
}
.logo_icon{
	margin-top: 5px;
	height: 40px;
	width: 50px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.logo_icon img{
	max-height: 100%;
}
.logo_name{
	float: left;
	height: 50px;
	margin-left: 10px;
	line-height: 50px;
	font-weight: bold;
}
.logo_name span{
	cursor: pointer;
}
.header_main{
	float: right;
	width: 900px;
	height: 100%;
	display: flex;
	font-size: 0.9em;
}
.statictics{
	display: flex;
}
.statictics_title{
	line-height: 50px;
}
.statictics_title span{
	cursor: pointer;
}
.statictics_body{
	height: calc(100% - 18px);
	margin: 8px;
	margin-left: 80px;
	display: flex;
}
.statictics_main{
	display: flex;
	height: 100%;
	border-radius: 35px;
	width: 240px;
	border: 2px solid #cccccc;
	position: relative;
}
.statistics_count{
	display: flex;
	width: 50px;
	margin: 3px;
	margin-right: 28px;
	height: 26px;
}
.statictics_rating{
	margin-right: unset;
}
.statictics_icon{
	width: 26px;
	height: 26px;
	text-align: center;
	padding: 5px;
	background-color: #f1f1f1;
	border-radius: 50px;
	box-sizing: border-box;
}
.statictics_up img{
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.statictics_icon img{
	width: 12px;
	height: 12px;
}
.statictics_number{
	height: 26px;
	display: table;
	vertical-align: middle;
	margin-left: 6px;
}
.statictics_number p{
	height: 100%;
	display: table;
	vertical-align: middle;
	margin-top: 2px;
}
.statictics_info{
	height: 30px;
	border-radius: 50%;
	margin: 2px;
	display: flex;
	margin-left: 10px;
}
.statictics_info .statictics_icon{
	width: 30px;
	height: 30px;
	padding: 3px;
	margin-top: 2px;	
	font-size: 17px;
}
.statistic_info_line{
	margin-bottom: 10px!important;
	font-size: 13px;
}
.statistic_info_line .statictics_icon{
	background-color: #ffffff;
	border: 1px solid #000000;
	margin-right: 5px;
	padding: 5px;
}
.statistic_info_text{
	display: flex;
	align-items: center;
	letter-spacing: -0.5px;
}
.statistic_text_info{
	font-size: 10px;
}
.balance{
	margin-left: 30px;
	height: 100%;
	display: flex;
}
.balance_title p{
	height: 50px;
}
.balance_body{
	height: calc(100% - 25px);
	margin: 9px;
	padding: 3px 5px;
	background-color: #f1f1f1;
	border-radius: 35px;
	display: flex;
	color: #000;
}
.balance_number{
	width: 70px;
	padding: 0px 10px;
	height: 25px;
}
.balance_number p{
	cursor: pointer;
	height: 25px;
}
.balance_icon{
	height: 100%;
	width: 28px;
	height: 28px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}
.balance_icon img{
	max-height: 100%;
}
.user_block{
	margin-left: 15px;
	height: 100%;
}
.user_info{
	display: flex;
	height: 100%;
}
.user_icon{
	height: calc(100% - 10px);
	margin: 5px;
}
.user_icon img{
	height: 100%;
}
.user_name{
	line-height: 50px;
	margin-left: 5px;
 }
 .user_name span{
	cursor: pointer;
 }