.request_active{
	background-color: rgb(255, 223, 223);
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}
.request_active_info{
	font-weight: normal;
	font-size: 13px;
}
.request_comment{
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: 400;
	font-size: 14px;
}
.request_comment_title{
	font-size: 18px;
}
.request_comment_info{
	margin: 8px 0px;
}
.request_comment_info .title, .comment_text_title .title{
	color: #777;
}
.comment_text_title{
	margin-top: 20px;
	margin-bottom: 10px;
}
.comment_text_line{
	display: flex;
	justify-content: space-between;
}
.block_text{
	width: 70%;
}
.block_date{
	width: 15%;
	position: relative;
}
.block_date p{
	position: absolute;
	bottom: 0;
}