*{
	margin: 0;
	padding: 0;
}
html{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-style: normal;
}
html, body{
	width: 100%;
	height: 100%;
}
input[type=button], input[type=submit], button{
	padding: 8px 12px;
	border-radius: 2px;
	background: #ff0000;
    color: #FFF;
	font-weight: bold;
	font-size: 12px;
	border: none;
	letter-spacing: 0.3px;
    -webkit-appearance: none;
}
input[type=button], input[type=submit], button{
	cursor: pointer;
}
input, select, textarea{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px 8px;
	box-sizing: border-box;
	font-size: 15px;
}
select{
	width: 70px;
}
textarea{
	resize: none;
}
input:focus, button:focus, select:focus, textarea:focus{
	outline: none;
}
pre{
	white-space: pre-line;
	word-wrap: break-word;
}
li{
	list-style: none;
	text-decoration: none;
}
button:active{
	color: #ccc;
}
.flex{
	display: flex;
}
.vertical_center{
	display: table-cell;
	vertical-align: middle;
}
.body_wrapper{
	width: 1190px;
	margin: 0 auto;
	padding-top: 60px;
	min-height: 100%;
	justify-content: space-between;
}
.page_info{
	margin-top: 20px;
	font-weight: bold;
}
.page_info_title{
	margin-bottom: 3px;
	font-size: 25px;
    color: #333333;
}
.page_info_text{
	margin-top: 18px;
	font-size: 18px;
}
.title{
	font-weight: 700;
}
.button_active{
	background-color: #ff5f5f;
}
a{
	color: #b91919;
}
a:visited {
	text-decoration: unset;
	color: #b91919;
}
.block{
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid rgb(255, 223, 223);
	background-color: #ffffff;
}
.line_check{
	display: flex;
	font-size: 13px;
}
.line_check input[type=checkbox]{
	width: 15px;
	margin: 5px 5px 0 0;
}
.name_input{
	display: flex;
	align-items: center;
	height: 90%;
}
.info{
	font-size: 13px;
}