@-webkit-keyframes down {
  0% {
    height: 0px;
  }
  100% {
    height: 540px;
  }
}
@keyframes down {
  0% {
    height: 0px;
  }
  100% {
    height: 540px;
  }
}
@-webkit-keyframes up {
  0% {
    height: 540px;
    border: 1px solid #ccc;
  }
  85% {
  	height: 5px;
  	border: 1px solid #ccc;
  }
  100% {
    height: 0;
    border-width: 0px;
  }
}
@keyframes up {
  0% {
    height: 540px;
    border: 1px solid #ccc;
  }
  85% {
  	height: 5px;
  	border: 1px solid #ccc;
  }
  100% {
    height: 0;
    border-width: 0px;
  }
}
.menu_up{
	width: 250px;
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	top: 5px;
	height: 0px;
	box-sizing: border-box;
}
.down_animation {
  -webkit-animation: down 0.3s;
  animation: down 0.3s;
  height: 540px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 223, 223);
}
.up_animation {
  -webkit-animation: up 0.3s;
  animation: up 0.3s;
  border: unset;
  height: 0px;
  box-sizing: border-box;
}
.menu_body{
	padding: 10px;
}
.menu_body li a{
	height: 25px;
	padding: 5px;
	color: #000;
	cursor: pointer;
}
.menu_body li:hover{
	background-color: rgb(255, 223, 223);
}
.li_icon{
	height: 100%;
}
.li_icon img{
	max-height: 100%;
}
.li_text{
	margin-left: 10px;
}
.li_text p{
	display: table-cell;
	vertical-align: middle;
	height: 25px;
}
.button_exit button{
	width: 100%;
	border-radius: unset;
	background-color: #f00;
	padding: 5px;
}