button{
	border-radius: 5px;
}
.main_block_news{
	margin-top: 30px;
	width: 100%;
	justify-content: space-between;
}
.main_block_1{
	width: 780px;
}
.block{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0;
	border-radius: 5px;
	border: none;
}
.body_block{
	justify-content: space-between;
	position: relative;
}
.block_info{
	font-size: 13px;
}
.block_info img{
	float: left;
	margin: 0px 15px 5px 0px;
}
.block_info pre{
	white-space: pre-line;
	font-weight: normal;
}
.post_info{
	position: absolute;
	bottom: 10px;
	font-weight: normal;
}
.main_block_2{
	width: 380px;
	border: 1px solid #f1f1f1;
	background-color: #f1f1f1;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
}
.block_popular_title .title{
	margin-bottom: 10px;
}
.block_popular{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
	position: relative;
	height: 70px;
}
.block_popular .block_name{
	margin-bottom: 25px;
}