.title{
	font-size: 20px;
}
.blocks{
	margin-top: 20px;
}
.block{
	width: 480px;
	height: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.table{
	display: table;
	font-size: 14px;
	margin-top: 15px;
}
.rows{
	box-sizing: border-box;
}
.hbody .rows{
	font-weight: bold;
	font-size: 13px;
}
.tbody .rows{
	border-bottom: 1px solid #cccccc;
}
.tbody .rows:nth-child(2n){
	background-color: #f1f1f1;
}
.tbody .row{
	box-sizing: border-box;
}
.tbody .rows:last-child{
	border-bottom: unset;
}
.table .column{
	box-sizing: border-box;
	word-wrap: break-word;
	padding-right: 5px;
}
.hbody .column{
	border-right: 1px solid #fff;
}
.hbody .column:last-child{
	border-right: unset;
}
.table .column:nth-child(1){
	width: 125px;
}
.table .column:nth-child(2){
	width: 140px;
}
.table .column:nth-child(3){
	width: 80px;
}
.table .column:nth-child(4){
	width: 125px;
}
.buttonAll{
	background-color: #777777;
	width: 170px;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
}
