.count_comm{
	padding: 10px;
	width: 480px;
	border-radius: 50px;
	border: 1px solid #cccccc;
	justify-content: space-between;
}
.count_comm_text{
	font-size: 17px;
	display: flex;
	margin: 1px 15px;
}
.count_comm_number{
	background: #dddddd;
	padding: 3px 35px;
	border-radius: 40px;
	border: 1px solid #cccccc;
}
.line_count{
	justify-content: space-between;
}
.block_count{
	padding: 5px 10px;
	width: 180px;
	height: 60px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid #aaaaaa;
	position: relative;
	line-height: 15px;
	font-size: 14px;
}
.block_count_number{
	background: #dddddd;
	position: absolute;
	bottom: -16px;
	width: 150px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #aaaaaa;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table{
	display: table;
	font-size: 14px;
	margin-top: 40px;
}
.rows{
	padding: 3px 8px;
	box-sizing: border-box;
}
.hbody .rows{
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #cccccc;
}
.tbody{
	border: 1px solid #cccccc;
}
.tbody .rows{
	border-bottom: 1px solid #cccccc;
}
.tbody .rows:nth-child(2n){
	background-color: #f1f1f1;
}
.tbody .row{
	height: 60px;
	padding: 10px 0;
	box-sizing: border-box;
}
.tbody .row_1{
	height: 50px;
}
.tbody .row_2{
	height: 70px;
}
.tbody .rows:last-child{
	border-bottom: unset;
}
.table .column{
	padding: 5px 3px;
	box-sizing: border-box;
	word-wrap: break-word;
}
.hbody .column{
	border-right: 1px solid #fff;
}
.hbody .column:last-child{
	border-right: unset;
}
.table .column:nth-child(1){
	width: 25px;
}
.table .column:nth-child(2){
	width: 50px;
}
.table .column:nth-child(3){
	width: 180px;
}
.table .column:nth-child(4){
	width: 100px;
}
.table .column:nth-child(5){
	width: 120px;
}
.table .column:nth-child(6){
	width: 120px;
}
.table .column:nth-child(7){
	width: 120px;
}
.table .column:nth-child(8){
	width: 140px;
}
.table .column:nth-child(9){
	width: 100px;
}
.table .column:nth-child(10){
	width: 68px;
}
.operation{
	justify-content: space-between;
}

.table .row_2 .column:nth-child(1){
	width: 60px;
}
.table .row_2 .column:nth-child(2){
	width: 630px;
}
.table .row_2 .column:nth-child(4){
	width: 300px;
}
.table_time_title{
	margin-bottom: 5px;
	font-weight: bold;
}
.table_time{
	padding: 3px 0;
	border-radius: 20px;
	background-color: #dddddd;
	text-align: center;
	min-width: 95px;
	width: max-content;
}
.operation_block{
	margin: 10px 0;
	margin-top: 30px;
	justify-content: space-around;
	width: 276px;
}
.operation_block select{
	width: 160px;
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.operation_block button{
	width: 100px;
	padding: 0;
}
.block_page{
	width: 450px;
	margin: 0 auto;
}
.block_number{
	width: 340px;
}
.block_page, .block_number{
	justify-content: space-between;
}
.page_number{
	width: 40px;
	height: 40px;
	background: #dddddd;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow_left{
	-webkit-transform: rotate(-90deg); /* Chrome y Safari */
	-moz-transform: rotate(-90deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-90deg); /* Opera */
}
.arrow_right{
	-webkit-transform: rotate(90deg); /* Chrome y Safari */
	-moz-transform: rotate(90deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(90deg); /* Opera */
}
.block_count_page{
	font-size: 12px;
	width: 90px;
}
.block_count_page select{
	width: 100%;
	padding: 0;
	border-radius: 0px;
}