button{
	border-radius: 5px;
}
.main_block_profile{
	margin-top: 30px;
	width: 100%;
}
.block{
	width: 780px;
	margin: 20px auto;
}
.body_block{
	margin: 10px;
	justify-content: space-between;
}
.block_img{
	min-width: 170px;
	min-height: 170px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(255, 223, 223);
	border-radius: 5px;
}
.oval{
	min-width: 100%;
	min-height: 100%;
	border-radius: 50%;
	border: 1px solid #000000;
}
.oval img{
	margin: 34px;
	max-width: 64px;
	max-height: 64px;
	line-height: 100%;
}
.block_info{
	width: calc(100% - 190px);
}
.block_info .title{
	font-size: 18px;
	margin-bottom: 15px;
}
pre{
	white-space: pre-line;
	font-weight: normal;
}
.line{
	margin-top: -15px;
	display: flex;
	justify-content: space-evenly;
}
.line button{
	padding: 15px 35px;
	margin-bottom: 20px;
}
.profile_info_title{
	color: #ff0000;
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
}
.main_content{
	margin-bottom: 20px;
}