header{
	position: absolute;
	width: calc(100% - 190px);
	height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
	box-shadow: 0 0 3px 0px #cccccc;
	color: #222222;
	letter-spacing: 0px;
	z-index: 100;
	font-size: 14px;
	font-weight: 700;
}
.header_block{
	height: 100%;
	margin: 0 auto;
}
.exit{
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	font-weight: normal;
	padding: 5px 7px;
	box-sizing: border-box;
	height: 50px;
	background-color: #cccccc;
	z-index: 999999;
}
.exit .logo_icon{
	width: 40px;
	height: 40px;
}
.exit .logo_name{
	height: 100%;
}
.exit_line_1{
	font-weight: bold;
}