.left_bar{
	width: 190px;
	background-color: #222222;
	color: #fff;
	z-index: 999;
	padding: 5px 8px;
	height: auto;
	box-sizing: border-box;
}
.menu_bar li{
	margin-top: 10px;
}
.header_logo{
	width: 100%;
	height: 100%;
	height: 45px;
	border-bottom: 1px solid #ffffff;
}
.header_logo .logo_icon{
	height: 41px;
	width: 41px;
}
.header_logo .logo_name_text{
	height: 41px;
}
.logo_icon{
	height: 31px;
	min-width: 31px;
	overflow: hidden;
	float: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 31px;
	background-color: #ffffff;
	margin-right: 10px;
}
.logo_icon img{
	max-height: 100%;
}
.logo_name{
	font-size: 14px;
	float: left;
}
.logo_name_text{
	height: 31px;
	display: flex;
	align-items: center;
}
.logo_name span{
	cursor: pointer;
}
.left_bar a{
	text-decoration: unset;
	color: #ffffff;
}
.left_bar a:visited {
	text-decoration: unset;
	color: #ffffff;
}
.sub_menu{
	margin-left: 20px;
}
.sub_menu li{
	list-style: disc;
	text-decoration: unset;
}