button{
	border-radius: 5px;
	width: 211px;
	margin: 5px 0;
}
.main_block_feedback{
	margin-top: 30px;
	width: 100%;
	justify-content: space-between;
}
.block_1{
	width: 980px;
	margin: 0 auto;
}
.block_sub{
	width: 780px;
	margin: 0 auto;
}
.line{
	justify-content: space-between;
	margin: 15px 0;
	font-size: 15px;
}
.line .column_1{
	width: 120px;
}
.line .column_2{
	width: 630px;
}
.line input, .line textarea{
	width: 100%;
}
input[type=submit], input[type=button]{
	width: 200px;
}
input[type=submit]{
	padding: 10px 20px;
	box-sizing: unset;
}
.line_buttons{
	width: 980px;
	margin: 15px auto 0px auto;
}
.feedback_table{
	margin-top: 10px;
	border-spacing: 15px 0;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	font-size: 14px;
	width: 1180px;
}
.feedback_table td, .feedback_table th{
	vertical-align: top;
	text-align: left;
	padding: 5px;
}
.feedback_table th{
	padding-bottom: 5px;
}
.feedback_table td{
	padding-bottom: 25px;
}
.right_line{
	border-right: 1px solid #aaaaaa;
}