/* start - animation */

@-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  .fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  }

  @-webkit-keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  
  @keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  
  .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
  }
  

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@-webkit-keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		opacity: 0;
	}
}

@keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		opacity: 0;
	}
}

.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
}

/* end - animation */

.nad_modal *{
	padding: 0;
	margin: 0;
}
.none{
	display: none;
}
.nad_modal{
	position: fixed;
	top: 100px;
	left: 100px;
	width: auto;
	z-index: 99999;
	font-size: 17px;
	padding-bottom: 40px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
.modalClass{
	width: auto;
	height: 100%;
	border-radius: 3px;
	overflow: hidden;
	background-color: #e3e7f5;
	background-size: 100%;
	box-shadow: border-box;
}
.modal_header{	
	min-width: 100px;
	font-size: 18px;
	width: 100%;
	height: 40px;
	position: relative;
	background-color: #5682a3;
	color: #fff;
	letter-spacing: -0.2;
}
.modal_title{
	width: 70%;
	margin-left: 20px;
	line-height: 40px;
	max-height: 100%;
	overflow: hidden;
}
.modal_close{
	position: absolute;
	color: #b3d9ff;
	font-size: 32px;
	margin-top: 0px;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 2px;
	cursor: pointer;
	text-align: center;
	font-family: initial;
}
.modal_close:hover{
	color: #fff;
}
.none{
	display: none;
}
.modal_content{
	padding: 15px;
	width: auto;
	color: #025;
	font-size: 16px;
	max-height: calc(100% - 80px);
	word-wrap: break-word;
	overflow: auto;
}
.modal_content .nad_input_row{
	width: 300px;
}
.modal_content .nad_row{
	padding: 10px;
	position: relative;
}
.modal_content .input_title{
	display: inline;
	width: 145px;
}
.input_title p{
	display: flex;
	align-items: center;
	height: 35px;
	word-wrap: break-word;
	white-space: pre-line;
}
.modal_content textarea{
	max-height: 500px;
	max-width: 700px;
	min-width: 200px;
}
.modal_content input{
	width: 150px;
	padding: 10px;
}
.modal_content input[type=date]{
	width: 170px;
}
.nad_row{
	display: flex;
	justify-content: space-between;
}
.nad_row input, .nad_row select{
	min-width: 150px;
	width: calc(100% - 150px);
	padding: 10px 10px;
	position: absolute;
	right: 0px;
	box-sizing: border-box;
}
.modal_content select{
	width: 173px;
	line-height: unset;
}
.modal_footer{
	width: 100%;
	height: 40px;
	background-color: #5682a3;
	padding: 8px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	letter-spacing: -0.2;
}
.modal_footer button{
	font-size: 16px;
	border-radius: 2px;
	padding: 3px 15px;
	width: unset;
	color: #fff;
	background-color: #335d7f;
	border: none;
	float: right;
	cursor: pointer;
	line-height: 20px;
}
.modal_footer button:focus{
	outline: none;
}
.modal_footer button:active{
	box-shadow: 0 0 1px 2px #abbdca;
}
.no_scroll{
	white-space: pre-line;
}
.background{
	background-color: #000;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
div.modal_color{
	color: #ccc;
	font-size: 38px;
	font-weight: bold;
	font-family: Arial;
}