button{
	border-radius: 5px;
	width: 211px;
	margin: 5px 0;
}
.main_block_support{
	margin-top: 30px;
	width: 100%;
	justify-content: space-between;
}
.blocks{
	width: 690px;
}
.block_1{
	margin-bottom: 15px;
}
.block_2{
	background-color: #aaaaaa;
}
.block_3{
	width: 480px;
}

.links{
	margin-top: 15px;
}

.link_img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: 1px solid #000000;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.line{
	margin: 10px 0;
	font-size: 15px;
}

.sections_block{
	width: 50%;
}


.sections_img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #ffffff;
}
.sections_main{
	display: flex;
    align-items: center;
}

.sections_title{
	color: #ffffff;
}


.line .column_1{
	width: 150px;
}
.line .column_2{
	width: 310px;
}
.line input, .line textarea{
	width: 100%;
}

.block_question{
	width: 980px;
	margin: 50px auto;
}
.block_question .line{
	margin: 20px 0;
}
.question_img{
	min-width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    background-color: #aaaaaa;
}
.question_title{
	color: #444444;
	font-size: 19px;
	margin-bottom: 10px;
}
.question_main_text{
	font-size: 14px;
	letter-spacing: -1px;
}