button{
	border-radius: 5px;
}
.main_block_partnership_program{
	justify-content: space-between;
	margin-top: 20px;
}
.block_1{
	width: 780px;
}
.block_2{
	width: 380px;
}
.block_level{
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
}
.block_info{
	border: 1px solid #cccccc;
	background-color: #f1f1f1;
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 15px;
}
.block_info_title{
	margin-bottom: 5px;
}
.block_info_sub{
	margin-top: 15px;
	justify-content: space-between;
}
.block_info_conditions{
	background-color: #ffffff;
	border-radius: 5px;
	width: 370px;
	border: 1px solid #cccccc;
	padding: 8px;
	box-sizing: border-box;
}
.block_conditions_header {
	justify-content: space-between;
}
.block_conditions_title{
	width: 275px;
}
.block_conditions_title p{
	margin-bottom: 10px;
}
.block_info_text{
	font-size: 13px;
	height: 80px;
	line-height: 15px;
	margin: 13px 0;
}
.block_info_text pre{
	white-space: pre-line;
	word-wrap: break-word;
}
.block_info_what{
	font-weight: 700;
	font-size: 13px;
}
.block_link{
	margin: 10px 0;
}
.link_copy{
	width: 570px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #ffffff;
	justify-content: space-between;
	margin: 3px 0;
}
.link_text{
	width: 378px;
	border: none;
	padding: 3px;
	background-color: unset;
}
.button_copy_link{
	padding: 7px 35px;
}
.link_copy_info{
	margin: 10px 0;
	height: 66px;
	word-wrap: break-word;
	white-space: pre-line;
	box-sizing: border-box;
	font-size: 13px;
}
.table{
	font-size: 14px;
	font-weight: 700;
	box-sizing: border-box;
}
.row{
	padding: 3px;
	box-sizing: border-box;
}
.hbody .row{
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #cccccc;
}
.tbody .row{
	margin: 5px 0;
	border-bottom: 1px solid #cccccc;
}
.table .column{
	padding: 5px;
	box-sizing: border-box;
}
.hbody .column:nth-child(1), .hbody .column:nth-child(2), .hbody .column:nth-child(3){
	border-right: 1px solid #fff;
}
.table .column:nth-child(1){
	width: 250px;
	padding-left: 10px;
}
.table .column:nth-child(2){
	width: 230px;
	text-align: center;
}
.table .column:nth-child(3){
	width: 180px;
	padding-left: 30px;
}
.tbody .column:nth-child(3){
	text-align: center;
	padding-left: 0px;
}
.table .column:nth-child(4){
	padding-left: 15px;
}
.place_partnership_program{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}

.block_money{
	border: 1px solid #cccccc;
	padding: 10px;
	box-sizing: border-box;
	background-color: #f1f1f1;
}
.block_money_line{
	border-radius: 5px;
	padding: 7px;
	padding-left: 15px;
	box-sizing: border-box;
	height: 50px;
	background-color: #cccccc;
	margin-bottom: 10px;
	justify-content: space-between;
	font-size: 14px;
}
.block_money_line p{
	display: flex;
	align-items: center;
}
.money_count{
	height: 36px;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: #888888;
	color: #ffffff;
}
.money_submit{
    margin: 30px 80px;
    width: 180px;
    height: 50px;
}
.block_text{
	background-color: #888888;
	padding: 5px;
	font-size: 14px;
	color: #ffffff;
	line-height: 15px;
	letter-spacing: -0.5px;
}
.block_text img{
	margin: 10px;
}