input, select{
	width: calc(100% - 20px);
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px 8px;
	font-size: 15px;
}
select{
	width: 70px;
}
.time_count{
	margin: 15px 0;
}
.time_count_block{
	margin: 15px 0;
	display: flex;
}
.time_count_title, .time_count_content{
	padding: 15px 13px;
	background-color: #ff0000;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	margin-right: 8px;
}
.time_count_title{
	width: 260px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.time_count_content{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	width: 80px;
}
.main_block_comment{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.block_name{
	padding: 15px 12px;
	text-align: center;
	border-radius: 25px;
	border: 1px solid #ccc;
	width: 250px;
}
.block, .request_body{
	max-width: 385px;
	box-sizing: border-box;
}
.comm_check .block{
	background-color: rgb(255, 223, 223);
}
.block_header p{
	font-size: 20px;
	margin: 5px 0px;
}
.main_block_line{
	margin: 10px 0;
	clear: both;
	height: 40px;
	display: flex;
}
.line{
	margin: 10px 0;
}
.line_buttons{
	margin-top: 20px;
}
.line_button_submit{
	margin-top: 10px;
}
.are_submit{
	margin-top: 40px;
}
.line_button_submit button{
	width: 300px;
	border-radius: 40px;
	cursor: pointer;
}
.line_title{
	font-size: 12px;
}
.title{
	font-weight: 700;
}
.content{
	font-weight: 400;
}
.comment_task{
	font-weight: 400;
	font-size: 15px;
}
.comment_task_title{
	font-size: 19px;
}
.comment_task_title{
	margin: 8px 0px;
}
.comment_task_info .title, .task_text_title .title{
	color: #333333;
}
.task_text_title{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 15px;
}
.request_active{
	margin-top: 0px!important;
}
.my_comment{
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: 400;
	font-size: 14px;
}
.my_comment_title{
	font-size: 18px;
}
.task_text a{
	white-space: pre-line;
	word-wrap: break-word;
}