.main_block_request{
	margin-top: 20px;
	width: 100%;
	display: flex;
}
.block{
	width: 580px;
	display: table;
}
.block_header p{
	font-size: 20px;
	margin: 5px 0px;
}
.block_2{
	margin-left: 30px;
}
.main_block_line{
	margin: 10px 0;
	clear: both;
	height: 40px;
	display: flex;
}
.line{
	margin: 10px 0;
}
.line_buttons{
	margin-top: 20px;
}
.line_button_submit{
	margin-top: 10px;
}
.are_submit{
	margin-top: 40px;
}
.line_button_submit button{
	width: 300px;
	border-radius: 40px;
	cursor: pointer;
}
.line_title{
	font-size: 12px;
}
.content{
	font-weight: 400;
}