.links{
	margin-top: 20px;
}
.links .title{
	width: 200px;
}
.links input, .links textarea, .links select{
	width: 360px;
}
.button_operation{
	min-width: 160px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
}
.table{
	display: table;
	font-size: 14px;
	margin-top: 20px;
}
.rows{
	padding: 3px 8px;
	box-sizing: border-box;
}
.hbody .rows{
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #cccccc;
}
.tbody{
	border: 1px solid #cccccc;
}
.tbody .rows{
	border-bottom: 1px solid #cccccc;
}
.tbody .rows:nth-child(2n){
	background-color: #f1f1f1;
}
.tbody .row{
	height: 60px;
	padding: 10px 0;
	box-sizing: border-box;
}
.tbody .row_1{
	height: 50px;
}
.tbody .row_2{
	height: 70px;
}
.tbody .rows:last-child{
	border-bottom: unset;
}
.table .column{
	padding: 5px 3px;
	box-sizing: border-box;
	word-wrap: break-word;
}
.hbody .column{
	border-right: 1px solid #fff;
}
.hbody .column:last-child{
	border-right: unset;
}
.table .column:nth-child(1){
	width: 25px;
}
.table .column:nth-child(2){
	width: 350px;
}
.table .column:nth-child(3){
	width: 180px;
}
.table .column:nth-child(4){
	width: 120px;
}
.table .column:nth-child(5){
	width: 130px;
}
.table .column:nth-child(6){
	width: 150px;
}
.table .column:nth-child(7){
	width: 30px;
}
.line_buttons{
	margin-top: 80px;
	justify-content: space-between;
	width: 550px;
}