button{
	border-radius: 5px;
}
.main_block_informational_base{
	justify-content: space-between;
	margin-top: 20px;
}
.main_block_informational_base ul{
	margin-left: 20px;
	font-size: 14px;
}
.main_block_informational_base ul p{
	font-weight: bold;
	margin-bottom: 10px;
}
.main_block_informational_base ul li{
	list-style: unset;
}
.main_block_informational_base ul img{
	margin: 10px;
}
.block_1{
	width: 280px;
}
.block_2{
	width: 880px;
}
