.main_block_setting{
	width: 550px;
	margin: 0 auto;
}
.main_block_line{
	margin: 10px 0;
	clear: both;
	height: 40px;
	display: flex;
}
.line_avatar{
	height: 70px;
}
.avatar_buttons{
	margin: 20px 30px;
	height: 30px;
}
.main_block_line label{
	width: 170px;
}
.main_block_line label p{
	display: table-cell;
	height: 40px;
	vertical-align: middle;
}
.main_block_line input{
	width: 300px;
	border-radius: 5px;
	padding: 10px 8px;
	font-size: 15px;
}
.main_block_line input[type=text], .main_block_line input[type=password], .main_block_line input[type=email]{
	border: 1px solid rgb(255, 223, 223);
	background-color: #fff8f8;
}
.no-flex{
	display: block;
}
.line_checked{
	margin-top: 20px;
}
.main_block_line .line{
	margin-left: calc(100% - 347px);
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	width: 300px;
	margin-top: 5px;
	display: flex;
	clear: both;
}
.main_block_line .line input{
	width: 15px;
}
.main_block_line .line label{
	width: 270px;
	margin-left: 5px;
}
.line_password{
	margin-top: 30px;
	width: 700px;
}
.line_password input[type=button]{
	width: 170px;
	margin-left: 10px;
}
.line_save{
	margin-top: 30px;
}