button{
	border-radius: 5px;
}
.main_block_rating{
	margin: 40px auto;
	width: 780px;
}
.block_time{
	border: 2px solid #ccc;
	border-radius: 10px;
	width: 709px;
	margin: 20px auto;
}
.block_time_header{
	border-bottom: 2px solid #ccc;
	padding: 10px;
	text-align: center;
}
.block_time_body{
	padding: 10px;
	font-size: 18px;
}
.block_time_count_body{
	justify-content: space-between;
}
.block_time_count{
	width: 177px;
	text-align: center;
}
.block_time_count.days{
	width: 266px;
}
.count_number{
	font-size: 25px;
	justify-content: space-between;
}
.number{
	width: 88px;
	height: 88px;
	background-color: #cccccc;
}
.number p{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.count_day{
	text-align: center;
	margin: 5px;
	font-weight: normal;
}
.table{
	display: table;
	font-size: 14px;
}
.row{
	padding: 3px;
	box-sizing: border-box;
}
.hbody .row{
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #cccccc;
}
.tbody .row{
	margin: 5px 0;
	border-bottom: 1px solid #cccccc;
}
.table .column{
	padding: 5px;
	box-sizing: border-box;
}
.hbody .column:nth-child(1), .hbody .column:nth-child(2){
	border-right: 1px solid #fff;
}
.table .column:nth-child(1){
	width: 150px;
	padding-left: 10px;
}
.table .column:nth-child(2){
	width: 280px;
	padding-left: 30px;
}
.table .column:nth-child(3){
	width: 350px;
	padding-left: 30px;
}
.tbody .column:nth-child(3){
	text-align: center;
	padding-left: 0px;
}
.place_rating{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}