button{
	border-radius: 5px;
}
.main_block_news{
	margin-top: 30px;
	width: 100%;
	justify-content: space-between;
}

.main_block_1{
	width: 780px;
}
.block{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.body_block{
	justify-content: space-between;
	position: relative;
}
.block_img{
	width: 186px;
	height: 127px;
}
.block_img img{
	max-width: 100%;
	max-height: 100%;
}
.block_info{
	width: calc(100% - 210px);
	font-size: 16px;
}
.block_info .title{
	font-size: 18px;
	margin-bottom: 15px;
}
.block_info pre{
	white-space: pre-line;
	font-weight: normal;
}
.line{
	margin-top: -15px;
	display: flex;
	justify-content: flex-end;
}
.post_info{
	position: absolute;
	bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}
.main_block_2{
	width: 380px;
	border: 1px solid #f1f1f1;
	background-color: #f1f1f1;
	padding: 5px 10px;
	box-sizing: border-box;
	border-radius: 5px;
}
.block_popular_title .title{
	margin-bottom: 10px;
}
.block_popular{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 14px;
	position: relative;
	height: 70px;
	box-sizing: border-box;
}