button{
	border-radius: 5px;
}
.main_block_profile{
	margin-top: 20px;
	width: 100%;
	display: flex;
}
.block{
	width: 558px;
}
.block_header p{
	font-size: 20px;
	margin: 5px 0px;
}
.block_2{
	margin-left: 30px;
}
.line{
	margin: 10px 0;
}
.line_buttons{
	margin-top: 20px;
}
.title{
	font-weight: 700;
}
.content{
	font-weight: 400;
}
.flex{
	display: flex;
}

.line_profiles_reset button{
	width: 220px;
	margin-right: 15px;
}
.line_profiles_reset .content{
	width: 250px;
	font-size: 13px;
	color: #555;
}
.line_profile_link{
	margin: 25px 0;
}
.line_profile_link div{
	margin-right: 15px;
}
.line_profile_link .title{
	display: table-cell;
	vertical-align: middle;
	height: 37px;
}
.line_profile_link input{
	width: 300px;
	margin-right: 30px;
}
.line_profile_link button{
	width: 200px;
}
.table{
	display: table;
}
.table .row{
	margin: 30px 0;
}
.table .column{
	width: 200px;
}
.line_profiles_distribute{
	font-size: 13px;
	color: #555;
}
